@font-face {
    font-family: 'ArialRoundedMTBold';
    src: local('ArialRoundedMTBold'), local('ArialRoundedMTBold'), url('../assets/fonts/ArialRoundedMTBold.eot') format('opentype');
    src: local('ArialRoundedMTBold'), local('ArialRoundedMTBold'), url('../assets/fonts/ArialRoundedMTBold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ArialRoundedMTBold', sans-serif;
}

body {
    background: #2B2D36;
}

header {
    background: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

header>li {
    margin: 10px;
}

.logo {
    padding: 40px;
}

.current-container {
    width: 80%;
    margin: auto;
    display: flex;
}

.currentcity-container, .currentweather-container {
    display: flex;
    justify-content: center;
    text-align: left;
    width: 50%;
    padding: 10px;
}

.currentcity-container>ul>li, .currentweather-container>ul>li, {
    margin: 15px;
}

.currentcity, .currentweather {
    font-size: 2rem;
}

.forecast-container {
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
}

#today {
    font-size: .7rem;
    margin: 10px;
}

.panel-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.panel {
    border: 1px solid #D64300;
    margin: 10px;
    padding: 20px 30px;
}

.panel>li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.min {
    font-size: 1.5rem;
}

.max {
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

input {
    border: 1px solid #2B2D36;
    border-radius: 5px;
    height: 25px;
    width: 80px;
}

button {
    font-size: .7rem;
    padding: 5px;
    border: 1px solid #D64300;
    border-radius: 5px;
    background: #FFFFFF;
}

button:hover {
    background: #D64300;
    color: #FFFFFF
}
