<html ng-app='app'>

<head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Rocketmiles Weather</title>
    <link rel='stylesheet' href='css/style.css'>
</head>

<body ng-controller='weather'>

    <header>
        <div class='logo'><img ng-src='assets/logo.png' alt='rocketmiles weather logo' /></div>
        <div class='current-container'>
            <div class='city'>
                <ul>
                    <li>Current City:</li>
                    <li>
                        <span ng-hide='current'>Loading...</span>
                        <span ng-show='current'>{{current.city}}</span>
                        <span ng-show='current'><button ng-click='changeLocation()'>Change Location</button></span>
                    </li>
                </ul>
            </div>
            <div class='weather'>
                <ul>
                    <li>Current Weather:</li>
                    <li>
                        <span ng-hide='current'>Loading...</span>
                        <span ng-show='current'>{{current.temp}} {{current.conditions}}</span>
                        <span ng-show='coords'><button>Change Units</button></span>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class='forecast-container'>
        <!-- THE FORECAST STARTS WITH THE CURRENT DAY -->
        <div class="forecast">
            <h1>7 Day Forecast:</h1>
            <span ng-hide='forecast'>Loading...</span>
            <ul class='panel-container'>
                <ul ng-show='forecast' ng-repeat='item in forecast'>
                    Day: {{$index + 1}}
                    <ul class='panel' ng-repeat='weather in item.weather'>
                        <li><img ng-src='http://openweathermap.org/img/w/{{weather.icon}}.png' alt='weather icon' /></li>
                        <li>Cond: {{weather.main}}</li>
                        <li>Min: {{item.temp.min}}</li>
                        <li>Max: {{item.temp.max}}</li>
                    </ul>
                </ul>
            </ul>
        </div>
    </div>

    <script src='node_modules/angular/angular.min.js' charset='utf-8'></script>
    <script src='app/app.js' charset='utf-8'></script>
</body>

</html>
